@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.Toastify__toast--default{
	background-image:url("../../assets/images/who.png") !important;
	background-repeat:no-repeat !important;
	background-size: 100% auto !important;
	height:310px !important;
	max-width: 650px !important;
}
.Toastify__toast-container {
    width: 96% !important;
    padding: 0;
    left: 0;
    margin: 2% !important;
}
.Toastify__progress-bar--default {
	background:white !important;
	/*background:#098eb7 !important;
	animation-play-state: paused !important;*/
	
}
.Toastify__progress-bar {
	top:0px !important;
}
.HomeContainer {
	margin: auto;
	max-width: 650px;
	padding: 16px;
	border-radius:5px;
}
.HomeContainerWithoutPadding {
	margin: auto;
	max-width: 650px;
	border-radius:5px;
}
.homecolumn {
    width: 48%;
	height: auto;
	margin: 10px 0px;
	text-align: center;
	border-radius: 5px;
}
.float_r{
	float:right;
}
.float_l{
	float:left;
}
.homerow:after {
  content: "";
  display: table;
  clear: both;
}
.homerow_tiles:after {
  content: "";
  display: table;
  clear: both;
}
.homecolumn_tiles {
    float: left;
	width: 31.2%;
	height: auto;
	max-height: 140px;
	margin: 1%;
	text-align: center;
	padding: 15px 10px;
	border-radius: 5px;
}
.hometiles_val{
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 800;
	line-height: 24px;
	letter-spacing: 0.5173913836479187px;
	text-align: center;
	color:#1A1C22;
}
.hometiles_txt{
	font-family: Inter;
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0.3652174174785614px;
	text-align: center;
	color:#1A1C22;
}
.homepagebg_img {
	  position: relative;
}
.homepg_bg_head{
	font-family: Inter;
	font-size: 17px;
	font-style: normal;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: 0.15756477415561676px;
	text-align: left;
	color:white;
	vertical-align: middle;
	padding:7px 20px;
	display: block;
	float: left;
}

.homepg_bg_empname{
	position: absolute;
	top: 60px;
	width:94%;
	padding:0px 3%;
	
	font-family: Inter;
	font-size: 17px;
	font-style: normal;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: 0.15756477415561676px;
	text-align: left;
	color:white;
}
.homepg_bg_txt1{
	position: absolute;
	top: 20px;
	width:94%;
	padding:0px 3%;
}
.homepg_bg_txt2{
	position: absolute;
	top: 80px;
	width:94%;
	padding:0px 3%;
}
.homepg_bg_txt3 img{
	display: block;
	float: left;
	padding:10px;
}
.homepg_bg_txt3{
	position: absolute;
	top: 150px;
	width:100%;
}
.homepg_bg_txt3cnt{
	margin-left:115px;
	padding: 0px 20px;
}
.homepg_bg_txt3cnt1{
	font-family: Inter;
	font-size: 17px;
	font-style: normal;
	font-weight: 700;
	line-height: 27px;
	letter-spacing: 0em;
	text-align: left;
	color:white;
}
.homepg_bg_txt3cnt2{
	font-family: Inter;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	color:#dddffe;
}
.homepg_bg_txt3cnt3{
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 0px;
	text-align: center;
	background-color:white;
	border-radius:15px;
	padding:8px 0px;
	color:#4D59FC;
	margin:10px 0px;
}

ul.y_videos_container {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	overflow-x: auto;
}

ul.y_videos_container li {
	flex: 0 0 auto;
	width: 100%;
	height: auto;
	padding: 5px;
	list-style-type: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
/*.example::-webkit-scrollbar {
    display: none;
}*/

/* Hide scrollbar for IE, Edge and Firefox */
/*.example {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}*/

/* Works on Firefox */
.y_videos_container {
  scrollbar-width: thin;
  scrollbar-color: #9CDB9C;
}

/* Works on Chrome, Edge, and Safari */
.y_videos_container::-webkit-scrollbar {
  width: 2px;
}

.y_videos_container::-webkit-scrollbar-track {
  background: white;
}

.y_videos_container::-webkit-scrollbar-thumb {
  background-color: #9CDB9C;
  border-radius: 20px;
  border: 4px solid white;
}


.careassistance_page_img {
	position: relative;
	text-align: center;
	cursor: pointer;
}
.careassistance_top-left {
	position: absolute;
	top: 8px;
	left: 16px;
}
.careassistance{
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 600;
	line-height: 23px;
	letter-spacing: 0em;
	text-align: left;
}
.careassistance_head{
	font-family: Inter;
	font-size: 17px;
	font-style: normal;
	font-weight: 700;
	line-height: 21px;
	letter-spacing: 0.035em;
	text-align: left;

}
.yvideo_head{
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
}
.ReactModal__Content{
	max-width: 640px !important;
}
#contactInfo textarea{
	padding: 5px !important;
	border: 1px solid #ccc !important;
}
.pad-tb2{
	padding:2px 0px;
}
.pad-tb5{
	padding:5px 0px;
}
.pad-tb10{
	padding:10px 0px;
}
.pad-b5{
	padding-bottom:5px;
}
.pad-b10{
	padding-bottom:10px;
}
.pad-b20{
	padding-bottom:20px;
}
.pad-t5{
	padding-top:5px;
}
.pad-t10{
	padding-top:10px;
}
.pad-t20{
	padding-top:20px;
}

.pad-t50 {
	padding-top: 50px !important;
}

.br-20 {
	border-radius: 20px !important;
}


#link_button{
    background-color:#4D59FC !important;
    color:white !important;
    font-family:Inter;
    font-style:normal;
    font-weight:600px;
    width:100%;
    height:15%;
    font-size:15px;
    line-height:18px;
    justify-content:center;
    align-items:center;
    align-content:center;
    border-radius:5px;
	padding:10px;
	display: block;
	text-align: center;
	text-decoration:none;
	font-weight: bold;
}
.greenbox{
	font-family: Inter;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	color:#1A1C22;
	border-radius: 5px;
	margin: 15px 0px;
}
.greenbg_box{
	background-color:#9CDB9C;
	border-radius: 5px;
}
.orangebg_box{
	background-color:#F8CD8D;
	border-radius: 5px;
}
.pinkbg_box{
	background-color:#FFAEA6;
	border-radius: 5px;
}
.greenbox img{
	display:block;
	float:left;
	margin: 3px 3px 3px 10px;
}
.greenbox_cnt{
	margin-left:35px;
}
.info_greenbox {
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #1a1c22;
  background-color: #9cdb9c;
  border-radius: 5px;
  padding: 15px 10px;
  margin: 15px 0px;
}

.info_greenbox img {
  display: block;
  float: left;
  margin-top: 1px;
}
.info_greenbox_cnt {
  margin-left: 35px !important;
}
.view_more_txtlink{
	font-family: Inter;
	font-size: 11px;
	font-style: normal;
	font-weight: 700;
	line-height: 17px;
	letter-spacing: 0.3652174174785614px;
	text-align: center;
	color:#4D59FC;
	text-decoration: none;
}
.view_more_txtlink:hover {
    text-decoration: none;
}
#homenav_list{
	margin-left:-15px;
	margin-right:-15px;
	background-color:white;
}
.topnav {
  overflow: hidden;
  background-color: #FFFFFF;
}

.topnav a {
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 600;
	line-height: 16px;
	letter-spacing: 0px;
	text-align: center;
	border-bottom: 4px solid #d8dae3;
	color:#95979F;
	padding: 12px 16px;
    text-decoration: none;
	display: block;
	float:left;
	width:33.3%
}

.topnav a:hover {
  border-bottom: 4px solid #4D59FC;
}

.topnav a.active {
  border-bottom: 4px solid #4D59FC;
  color:#4D59FC !important;
}
.whitelistbox_block{
	width:100%;
	display:inline-block;
	border-bottom:1px solid #e8edf1;
	padding:2px 15px 5px 5px;
}
.whitelistbox_ctnt1{
	display:block;
	float:left;
	width:5%;
	text-align: center;
}
.whitelistbox_ctnt2{
	display:block;
	float:left;
	width:70%;
}
.whitelistbox_ctnt3{
	display: block;
	width: 25%;
	float: right;
}
.wlb_evnt1{
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	color:#252A31;
	display: block;
}
.wlb_evnt2{
	font-family: Inter;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: left;
	color:#5F738C;
	display: block;
}
.check_edit_btn,.check_edit_btn:hover,.check_edit_btn:visited{
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: center;
	background-color:#4D59FC;
	border-radius:15px;
	padding:2px 6px;
	color:white !important;
	margin:12px 0px;
	text-decoration:none;
}
.info_popup_txt{
	font-family: Inter;
	font-size: 13px;
	font-style: normal;
	font-weight: 500;
	line-height: 21px;
	letter-spacing: 0em;
	text-align: left;
	color:#1A1C22;
}
.dot_point {
  height: 10px;
  width: 10px;
  background-color:#E45040;
  border-radius: 50%;
  display: inline-block;
}

.Protocols_cnt1{
	position: absolute;
	top: 15px;
	left: 12px;
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: -0.003em;
	text-align: left;
}
.Protocols_cnt2{
	position: absolute;
	top: 15px;
	left: 90px;
	font-family: Inter;
	font-size: 11px;
	font-style: italic;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: -0.003em;
	text-align: left;

}
.Protocols_cnt3 {
	position: absolute;
	top: 40px;
	left: 12px;
	font-family: Inter;
	font-size: 11px;
	font-style: normal;
	font-weight: 500;
	line-height: 21px;
	letter-spacing: -0.003em;
	text-align: left;
}
.Protocols_txt{
	
}
.Protocols_ity{
	font-family: Inter;
	font-size: 11px;
	font-style: italic;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: -0.003em;
	text-align: left;

}

/*Mobile Layout*/

@media only screen and (min-width: 550px) {
	.homerow {
		width: 48%;
		float: left;
		padding: 5px;
	}
}

.page-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
    padding-top: "50px";
    background-size: cover;

  }
  .content-wrap{
    flex:1;
  }

  .popup-contact{
	font-family: Inter;
	font-size: 13px;
	font-style: normal;
	font-weight: 600;
	line-height: 16px;
	letter-spacing: 0.035em;
	text-align: left;	
	color: #505A73;
	padding: 5px 0px;
  }

  input::placeholder{
	color: rgba(26, 28, 34, 0.5);
  }