@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.Category {
  margin: auto;
  max-width: 650px;
  padding: 16px;
  border-radius: 5px;
}

.CategoryWithoutPadding {
  margin: auto;
  max-width: 650px;
  border-radius: 5px;
  margin-left: -16px;
  margin-right: -16px;
}

.CategoryWithoutPadding1 {
  margin: auto;
  max-width: 650px;
  border-radius: 5px;
  padding: 16px 0px;
}

.Category input {
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.01em;
  text-align: left;
  border-radius: 5px;
  border: none;
  color: #1A1C22;
}

.mar-r10 {
  margin-right: 10px;
}

.Category button {
  background-color: #4D59FC;
  color: #fff;
  font-family: Inter;
  font-style: normal;
  font-weight: 600px;
  
  line-height: 18px;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 5px;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("../../assets/images/BG.png");
  background-size: cover;
}
.content-wrap {
  flex: 1;
}
