@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.pagebg_img {
	  position: relative;
	  text-align: center;
	  margin:10px 0px;
}
.top-left1 {
	position: absolute;
	top: 12px;
	left: 12px;
	font-family: Inter;
	font-size: 11px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: -0.003em;
	text-align: left;
	background-color:white;
	border-radius:3px;
	padding:0px 5px;

	}
.top-left2 {
	position: absolute;
	top: 40px;
	left: 12px;
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: -0.003em;
	text-align: left;

	}
.top-left3 {
	position: absolute;
	top:65px;
	left: 12px;
	font-family: Inter;
	font-size: 11px;
	font-style: italic;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: -0.003em;
	text-align: left;
}
.top-left4 {
	position: absolute;
	top: 90px;
	left: 12px;
	font-family: Inter;
	font-size: 13px;
	font-style: normal;
	font-weight: 500;
	line-height: 21px;
	letter-spacing: -0.003em;
	text-align: left;
	width:70%;
}	

.page_img {
	  position: relative;
	  text-align: center;
	  margin:10px 0px;
	}
.top-left {
	  position: absolute;
	  top: 8px;
	  left: 16px;
	}	
.img_head{
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 600 !important;
	line-height: 23px;
	letter-spacing: 0em;
	text-align: left;
	color:black;
	top:20px;
}
.label_head{
	font-family: Inter;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
	color:#505A73;
	padding:3px 0px;
}
.head_content{
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: -0.003em;
	text-align: left;
	padding:3px 0px 7px 0px;
}
.head_content ul{
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: -0.003em;
	text-align: left;
	color:black;
	margin:0px;
}
.menu_head{
		font-family: Inter;
		font-size: 13px;
		font-style: normal;
		font-weight: 600;
		line-height: 24.3px;
		letter-spacing: -0.003em;
		text-align: left;
		color:#333841;
	}
.quick_head{
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: 24.3px;
	letter-spacing: -0.003em;
	text-align: left;
	color:#1A1C22;
	display:block;
}
.sub_head{
	font-family: Inter;
	font-size: 17px;
	font-style: normal;
	font-weight: 700;
	line-height: 24.3px;
	letter-spacing: -0.003em;
	text-align: left;
	color:#1A1C22;
	display:block;
}
.sub_menu_head{
	padding:10px 0px;
	color:#1A1C22;
	text-decoration:underline;
}
.txt_styel,.policy_cnt1 p,.policy_cnt2 p,.policy_cnt3 p,.policy_cnt4 p {
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: -0.003em;
	text-align: justify;
	color:#505A73;
}
.txt_styel span{
	font-weight:bold;
	color:#1A1C22;
}
.note_txt {
	font-family: Inter;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: -0.003em;
	text-align: justify;
	color:#505A73;
}
.pad-tb2{
	padding:2px 0px;
}
.pad-tb5{
	padding:5px 0px;
}
.pad-b5{
	padding-bottom:5px;
}
.pad-tb10{
	padding:10px 0px;
}
.pad-b10{
	padding-bottom:10px;
}
.pad-t10{
	padding-top:10px;
}
.pad-t5{
	padding-top:5px;
}
.cnt_head{
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
}
.cnt_txt{
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 0.035em;
	text-align: left;
}
.collapse{
  cursor: pointer;
  display: block;
  background: #cdf;
}
.policy_head_org{
	background-color:#FFAEA6;
	padding:5px 10px;
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	color:#252A31;
	border-radius:2px;
	cursor:pointer;
	margin:5px 0px 10px 0px;
}
.policy_head_grn{
	background-color:#9CDB9C;
	padding:5px 10px;
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	color:#252A31;
	border-radius:2px;
	cursor:pointer;
	margin:5px 0px 10px 0px;
}
.policy_head{
	background-color:#E7EAF2;
	padding:5px 10px;
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	color:#252A31;
	border-radius:2px;
	cursor:pointer;
	margin:5px 0px 10px 0px;
}
p {
  counter-increment: section;
  position: relative;
  border-left: 2px solid #818AFD;
  margin:0px !important;
  padding-left:25px !important;
  margin-left:10px !important;
  padding-bottom:10px;
}


p:before {
  content: counter(section);
  right: 100%; 
  margin-right: -10px;
  position: absolute;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background-color: #818AFD;
  text-align:center;
  color: white;
  font-size: 12px;
}

p:last-child{
	border: 0 !important;
}

.App {
	margin: auto;
	max-width: 650px;
	padding: 16px;
	border-radius:5px;
	
}
/*Mobile Layout*/
	@media only screen and (max-width: 500px) {
		.styled-table .user_Name{
			float:none;
		}
	}