@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
.nopad_whitebox{
  margin-left: -16px;
  margin-right: -16px;
  padding:16px;
}
.bg_white{
  background-color: white;
}
.frm_head{
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0.035em;
  text-align: left;
}
.frm_dropdown_select{
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  border: 1px solid #d6d8de;
  width: 100%;
  padding: 10px 2px;
}
.frm_input_sml{
  padding: 10px 2%;
  border: 1px solid #d6d8de;
  width: 96%;
  border-radius: 5px;
}
.react-datepicker__input-container input {
  display: block;
  width: 96% !important;
  padding: 10px 2% !important;
}
.react-datepicker__input-container{
  padding: 0px;
}
.frm_sub_qst{
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #46484e;
}
.frm_sub_qst_edit{
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0.035em;
  text-align: left;
  color: black;
}
.frm_sub_ans{
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.003em;
  text-align: left;
}
.frm_edit_link{
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: right;
  color: #4D59FC;
  cursor: pointer;
}