@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


h3 {
	font-family: Inter;
	font-size: 17px !important;
	font-style: normal;
	font-weight: 600 !important;
	line-height: 22px;
	letter-spacing: 0.15756477415561676px;
	text-align: left;
}
h4 {
	font-family: Inter;
	font-size: 13px !important;
	font-style: normal;
	font-weight: 600 !important;
	line-height: 22px;
	letter-spacing: 0em;
	text-align:justify;
}


.Dashboard{
  margin: auto;
  max-width: 650px;
  padding: 16px;
  border-radius:5px;
}

.Dashboard-Without-Padding{
  margin: auto;
  max-width: 650px;
  border-radius:5px;
}

.Dashboard input{
    font-family: "Inter";
    font-size: "15px";
    font-style: normal;
    font-weight: "500";
    line-height: "18px";
    letter-spacing: 0.01em;
    text-align: left;
    border-radius:"5px";
    border:none;
    color:"#1A1C22";
}

.Dashboard button{
    background-color:"#4D59FC";
    color:"#fff";
    font-family:"Inter";
    font-style:"normal";
    font-weight:"600px";
    width:"100%";
    height:"15%";
    font-size:"15px";
    line-height:"18px";
    justify-content:"center";
    align-items:"center";
    align-content:"center";
    border-radius:"5px";
}

.page-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("../../assets/images/BG.png");
    background-size: cover;


}
  .content-wrap{
    flex:1;
  }


.empty_btn{
  text-align:center;
  padding:10px 0px;
}
.empty_btn a:link, .empty_btn a:visited{
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center !important;
    color:#4D59FC !important;
    text-decoration:none;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}