@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.label_head{
	font-family: Inter;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
	color:#505A73;
	padding:3px 0px;
}
.head_content{
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: -0.003em;
	text-align: left;
	padding:3px 0px 7px 0px;
}
.pad-tb2{
	padding:2px 0px;
}
.pad-tb5{
	padding:5px 0px;
}
.pad-tb10{
	padding:10px 0px;
}
.pad-b5{
	padding-bottom:5px;
}
.pad-b10{
	padding-bottom:10px;
}
.pad-b20{
	padding-bottom:20px;
}
.pad-t5{
	padding-top:5px;
}
.pad-t10{
	padding-top:10px;
}
.pad-t20{
	padding-top:20px;
}
.summaryContainer{
  margin: auto;
  max-width: 650px;
  padding: 16px;
  border-radius:5px;
  background-image: url("../../assets/images/BG.png");
  background-size: cover;

}

.summaryContainer input{
    font-family: "Inter";
    font-size: "15px";
    font-style: normal;
    font-weight: "500";
    line-height: "18px";
    letter-spacing: 0.01em;
    text-align: left;
    border-radius:"5px";
    border:none;
    color:"#1A1C22";
}

.summaryContainer button{
    background-color:"#4D59FC";
    color:"#fff";
    font-family:"Inter";
    font-style:"normal";
    font-weight:"600px";
    width:"100%";
    height:"15%";
    font-size:"15px";
    line-height:"18px";
    justify-content:"center";
    align-items:"center";
    align-content:"center";
    border-radius:"5px";
}


.page-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-size: cover;

  }
  .content-wrap{
    flex:1;
  }