@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.pad-lr5{
	padding-left:5px !important;
	padding-right:5px !important;
}
.pad-lr10{
	padding-left: 10px !important;
	padding-right: 10px !important;
}
.clm1,.clm2{
	width:50%;
	display:inline-block;
}
.contactInfo_container {
	margin: auto;
	max-width: 650px;
	padding: 16px;
	border-radius:5px;
	
}

.dropdown_selection{
	height: 25px;
	width: 150px;
	font-family:Inter;
}
.dropdown_selection option{
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: -0.003em;
	text-align: left;
	padding: 3px 0px 7px 0px;
}