@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.pagebg_img {
	  position: relative;
	  text-align: center;
	  margin:10px 0px;
}
.top-left1 {
	position: absolute;
	top: 12px;
	left: 12px;
	font-family: Inter;
	font-size: 11px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: -0.003em;
	text-align: left;
	background-color:white;
	border-radius:3px;
	padding:0px 5px;

	}
.top-left2 {
	position: absolute;
	top: 40px;
	left: 12px;
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: -0.003em;
	text-align: left;

	}
.top-left3 {
	position: absolute;
	top:65px;
	left: 12px;
	font-family: Inter;
	font-size: 11px;
	font-style: italic;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: -0.003em;
	text-align: left;
}
.top-left4 {
	position: absolute;
	top: 90px;
	left: 12px;
	font-family: Inter;
	font-size: 13px;
	font-style: normal;
	font-weight: 500;
	line-height: 21px;
	letter-spacing: -0.003em;
	text-align: left;
	width:70%;
}	
.li_light ul{
	color: #798296 !important;
	font-size: 15px;
	padding-left: 15px;
}
.page_img {
	  position: relative;
	  text-align: center;
	  margin:10px 0px;
	}
.top-left {
	  position: absolute;
	  top: 5px;
	  left: 16px;
	}
.top-left-sml-txt {
	  position: absolute;
	  top: 35px;
	  left: 16px;
	}
.img_sml_txt{
	font-family: Inter;
	font-size: 13px;
	font-style: normal;
	font-weight: 500;
	line-height: 21px;
	letter-spacing: -0.003em;
	text-align: left;
	width:70%;
}
.top-center {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
}
.img_head{
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 600 !important;
	line-height: 23px;
	letter-spacing: 0em;
	text-align: left;
	color:black;
	top:10px !important;
}
.toll_free_txt{
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	line-height: 23px;
	letter-spacing: 0em;
	color:black;
	top:30px;
}
.toll_free_contact{
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 800 !important;
	line-height: 23px;
	letter-spacing: 0em;
	color:black;
	top:60px;
}
.helptxt .para{
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -0.003em;
	text-align: left;
	color:#505A73;
}
.para{
	padding:10px 0px;
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: Inter;
    width:100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #edf1fd;
    color: black;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #edf1fd;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
.tbl_head{
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: -0.003em;
	text-align: left;

}
.styled-table .user_Name{
	float:left;
}
.App {
	margin: auto;
	max-width: 650px;
	padding: 16px;
	border-radius:5px;
	
}
/*Mobile Layout*/
	@media only screen and (max-width: 500px) {
		.styled-table .user_Name{
			float:none;
		}
	}