@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
button{
	cursor: pointer;
}
#Protocols ul li{
	font-weight:400px !important;;
	color:#798296  !important;
}
.bg_img_responsive80{
	width: 100%;
	height: 80px;
	border-radius:10px;
	position: relative !important;
}
.bg_inner_img80{
	width: 100%;
	height: 80px;
	border-radius: 10px;
	background-position: right bottom, right bottom;
	background-repeat: no-repeat;
}
.bg_inner_img{
	width: 100%;
	height: 140px;
	border-radius: 10px;
	background-position: right bottom, right bottom;
	background-repeat: no-repeat;
}
.bg_img_responsive{
	width: 100%;
	height: 140px;
	border-radius:10px;
	position: relative !important;
}
.bg_img_responsive_screen{
	position: absolute !important;
	background-position: 50% 50% !important;
	background-repeat: no-repeat !important;
	animation-name: keyframe_18jn58a !important;
	animation-duration: 300ms !important;
	animation-timing-function: ease-out !important;
	background-size: cover !important;
}

	