.QuizApp{
    margin: auto;
    max-width: 650px;
    padding: 16px;
    border-radius:5px;
    background-image: url("../../assets/images/BG.png");
    background-size: cover;

  }
  
  
  .QuizApp input{
      font-family: "Inter";
      font-size: "15px";
      font-style: normal;
      font-weight: "500";
      line-height: "18px";
      letter-spacing: 0.01em;
      text-align: left;
      border-radius:"5px";
      border:none;
      color:"#1A1C22";
  }

  .page-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-size: cover;
}
  .content-wrap{
    flex:1;
  }

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
    display: block;
    width: 100%;
    padding: 15px 0px 15px;

}