@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
.label_head {
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #505a73;
  padding: 3px 0px;
}
.head_content {
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.003em;
  text-align: left;
  padding: 3px 0px 7px 0px;
}
.head_content_edit {
  width: 100%;
  display: inline-block;
}
.edit_link {
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: right;
  color: #4d59fc;
  text-decoration: none;
  display: block;
  float: right;
}
.pad-tb2 {
  padding: 2px 0px;
}
.pad-tb5 {
  padding: 5px 0px;
}
.pad-tb10 {
  padding: 10px 0px;
}
.pad-b5 {
  padding-bottom: 5px;
}
.pad-b10 {
  padding-bottom: 10px;
}
.pad-b20 {
  padding-bottom: 20px;
}
.pad-t5 {
  padding-top: 5px;
}
.pad-t10 {
  padding-top: 10px;
}
.pad-t20 {
  padding-top: 20px;
}
.summaryContainer {
  margin: auto;
  max-width: 650px;
  padding: 16px;
  border-radius: 5px;
  background-image: url("../../assets/images/BG.png");
  background-size: cover;
}

.summaryContainer input {
  font-family: "Inter";
  font-size: "15px";
  font-style: normal;
  font-weight: "500";
  line-height: "18px";
  letter-spacing: 0.01em;
  text-align: left;
  border-radius: "5px";
  border: none;
  color: "#1A1C22";
}

.summaryContainer button {
  background-color: "#4D59FC";
  color: "#fff";
  font-family: "Inter";
  font-style: "normal";
  font-weight: "600px";
  width: "100%";
  height: "15%";
  font-size: "15px";
  line-height: "18px";
  justify-content: "center";
  align-items: "center";
  align-content: "center";
  border-radius: "5px";
  cursor: pointer;
}
.change_button {
  background-color: #ebedff !important;
  color: #4d59fc;
  font-family: Inter;
  font-style: normal;
  font-weight: 600 !important;
  width: 100% !important;
  height: 15%;
  font-size: 15px;
  line-height: 18px;
  display: block !important;
  text-align: center !important;
  border-radius: 5px;
  padding: 13px 0px ;
  text-decoration: none;
  cursor: pointer;
}

.popup_txt {
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0.035em;
  text-align: left;
}

#popup,
#popup1 {
  background-color: white;
  padding: 10px 0px;
  border-radius: 5px;
}
.popup_input {
  border-radius: 3px;
  font-size: 15px;
  height: 40px;
  width: 100%;
  border: 1px solid #e8edf1 !important;
}
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-size: cover;
}
.container.blur {
  filter: blur(5px);
  box-shadow: 0px 0px 20px 20px rgba(255, 255, 255, 1);
  text-shadow: 0px 0px 10px rgba(51, 51, 51, 0.9);
  position: fixed;
  overflow-y: hidden;
}
.blur1 {
  box-shadow: 0px 0px 20px 20px rgba(255, 255, 255, 1);
  text-shadow: 0px 0px 10px rgba(51, 51, 51, 0.9);
  transform: scale(0.9);
  opacity: 0.6;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  padding-top: 30%;
}
.modal .content #popup {
  height: 500px;
}
.modal .content #popup1 {
  height: 250px;
}
.modal .content {
  position: relative;
  padding: 10px;
  width: 375px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: rgba(112, 128, 175, 0.2) 0px 16px 24px 0px;
  transform: scale(0);
  transition: transform 300ms cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.modal.open {
  opacity: 1;
  visibility: visible;
}
.modal.open .content {
  transform: scale(1);
}

.content-wrap {
  flex: 1;
}
