@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.tnq1{
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.035em;
	text-align: center;
	color:#505A73;
	margin-top: 10px;
}

.tnq2{
	font-family: Inter;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	color:#1A1C22;
	background-color:#9CDB9C;
	border-radius: 5px;
	padding: 15px 10px;
	margin: 15px 0px;
}

.tnq2 img{
	display:block;
	float:left;
	margin-top:1px;
}

.tnq2 .container{
	display: block;
    float: left;
    padding: 0px 0px 0px 5px;
	width: auto !important;
}
.tnq2 .container svg{
    height: 18px !important;
    width: auto !important;
}

.tnq3{
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: 23px;
	letter-spacing: 0.035em;
	text-align: center;
	color:#F26522;
	background-color:#f6f3f2;
	border-radius: 5px;
	padding: 15px 20px;
	margin: 15px 0px;
}

.tnq4 span{
	font-family: Inter;
	font-size: 13px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: -0.003em;
	text-align: center;
	color:#505A73;
}

.tnq4 {
	font-family: Inter;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -0.003em;
	text-align: center;
	color:#505A73;
	margin-bottom:60px;
}

.logout{
	background-color:#EBEDFF !important;
	color:#4D59FC;
    font-family:Inter;
    font-style:normal;
    font-weight:600 !important;
    width:100% !important;
    height:15%;
    font-size:15px;
    line-height:18px;
    display: block !important;
	text-align: center !important;
    border-radius:5px;
	padding: 13px;
	text-decoration: none;
}

.logout:hover{
	color:#4D59FC;
	text-decoration: none;
}




.TnqContainer {
	margin: auto;
	max-width: 650px;
	padding: 16px;
	border-radius:5px;
	
}
