
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400..900&display=swap');

.backbtn_block {
    width: 100%;
    display: inline-block;
}
.backbtn_img{
	display:block;
	float:left;
	text-align: center;
}
.backbtn_txt{
	display:block;
	float:left;
	
	font-family: Inter;
	font-size: 17px;
	font-style: normal;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: 0.15756477415561676px;
	text-align: left;
	padding: 5px 15px;

}
.backbtn_link{
	display: block;
	float: right;
}
.no_margin16{
	margin-left:-16px;
	margin-right:-16px;
}
.whitebox_btn{
	background-color: white;
	padding: 10px 16px;
	border-bottom: 1px solid #e8edf1;
	cursor: pointer;
	color:#252A31;
}
.pagebg_img {
	  position: relative;
	  text-align: center;
	  margin:10px 0px;
}
.profile_img{
	position: absolute;
	top: 20px;
	width: 96%;
	padding:0px 0px 0px 16px;
	text-align: left;
}
.profile_name{
	position: absolute;
	top: 60px;
	width:96%;
	padding:0px 0px 0px 16px;
	
	font-family: Inter;
	font-size: 17px;
	font-style: normal;
	font-weight: 700;
	line-height: 21px;
	letter-spacing: 0em;
	text-align: left;
	color:white;

}
.profile_details1{
	position: absolute;
	top: 85px;
	width:96%;
	padding:0px 0px 0px 16px;
}
.profile_details2{
	position: absolute;
	top: 105px;
	width:96%;
	padding:0px 0px 0px 16px;
}
.profile_details_txt {
	font-family: Inter;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: left;
	color:white;

}
.backbtn_link .check_edit_btn,.backbtn_link .check_edit_btn:hover,.backbtn_link .check_edit_btn:visited{
		margin:5px 0px !important;
}
.check_edit_btn,.check_edit_btn:hover,.check_edit_btn:visited{
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: center;
	background-color:#4D59FC;
	border-radius:15px;
	padding:2px 6px;
	color:white !important;
	margin:12px 0px;
	text-decoration:none;
}

.profileContainer{
  margin: auto;
  max-width: 650px;
  padding: 16px;
  border-radius:5px;
  background-image: url("../../assets/images/BG.png");
  background-size: cover;

}

.profileContainerWithoutPadding{
	margin: auto;
	max-width: 650px;
	border-radius:5px;
	background-image: url("../../assets/images/BG.png");
	background-size: cover;
  
  }  

.profileContainer input{
    font-family: "Inter";
    font-size: "15px";
    font-style: normal;
    font-weight: "500";
    line-height: "18px";
    letter-spacing: 0.01em;
    text-align: left;
    border-radius:"5px";
    border:none;
    color:"#1A1C22";
}

.profileContainer button{
    background-color:"#4D59FC";
    color:"#fff";
    font-family:"Inter";
    font-style:"normal";
    font-weight:"600px";
    width:"100%";
    height:"15%";
    font-size:"15px";
    line-height:"18px";
    justify-content:"center";
    align-items:"center";
    align-content:"center";
    border-radius:"5px";
}
.page-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-size: cover;

  }
  .content-wrap{
    flex:1;
  }

  .center {
    display: block;
    margin-left: auto;
	margin-right: auto;
	width: 37%;
	padding: 5px;
   }