@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
.app_name{
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 28px;
	letter-spacing: -0.0041em;
	text-align: center;
	color:black;
	padding-top:10px;
}
.yoga_head{
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
	color:#1A1C22;
	padding:5px 0px;
}
.yoga_title{
	font-family: Inter;
	font-size: 13px;
	font-style: normal;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
	color:#1A1C22;
	padding:10px 0px;
}
.disclaimer_title{
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: justify;
	color: #46484e !important;
	padding:5px 0px;
}
.disclaimer_list li{
	font-family: Inter;
	font-size: 13px;
	font-style: normal;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: justify;
	opacity: 0.8;
	padding:2px 0px;
	color: #798296 !important;
}
.policy a:link,
a:visited {
  color: #4d59fc;
  text-align: left;
  display: block;
  margin: 5px 0px;
  font-weight: 500;
  font-family: Inter;
  font-style: normal;
  font-size: 13px;
  padding-left: 5px;
}

h3 {
  font-family: Inter;
  font-size: 17px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 22px;
  letter-spacing: 0.15756477415561676px;
  text-align: left;
}
h4 {
  font-family: Inter;
  font-size: 12px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
@media only screen and (min-width: 650px) {
  iframe {
    width: 100%;
    height: 350px;
  }
}
@media only screen and (max-width: 650px) {
  iframe {
    width: 100%;
    height: 250px;
  }
}
@media only screen and (max-width: 400px) {
  iframe {
    width: 100%;
    height: 100%;
  }
}
iframe,
object,
embed {
  border: 2px solid rgba(255, 255, 255, 0);
  -webkit-border-radius: 15px !important;
  -ms-border-radius: 15px !important;
  -o-border-radius: 15px !important;
  border-radius: 15px !important;
}
ul {
  color: #798296 !important;
  font-size: 11px;
  padding-left: 15px;
}

li h5 {
  color: #798296 !important;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.WelcomeContainer {
  margin: auto;
  max-width: 650px;
  padding: 16px;
  border-radius: 5px;
  /*background-image: url("../../assets/images/BG.png");*/
  background-size: cover;
}

.WelcomeContainer input {
  font-family: "Inter";
  font-size: "15px";
  font-style: normal;
  font-weight: "500";
  line-height: "18px";
  letter-spacing: 0.01em;
  text-align: left;
  border-radius: "5px";
  border: none;
  color: "#1A1C22";
}

.WelcomeContainer button {
  background-color: "#4D59FC";
  color: "#fff";
  font-family: "Inter";
  font-style: "normal";
  font-weight: "600px";
  width: "100%";
  height: "15%";
  font-size: "15px";
  line-height: "18px";
  justify-content: "center";
  align-items: "center";
  align-content: "center";
  border-radius: "5px";
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
  padding-top: "50px";
  background-size: cover;
}
.content-wrap {
  flex: 1;
}

.info_greenbox {
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #1a1c22;
  background-color: #9cdb9c;
  border-radius: 5px;
  padding: 15px 10px;
  margin: 15px 0px;
}

.info_greenbox img {
  display: block;
  float: left;
  margin-top: 1px;
}
.info_greenbox_cnt {
  margin-left: 30px;
}

.page-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
    padding-top: "50px";
    background-size: cover;

  }
  .content-wrap{
    flex:1;
  }
