.breadcrumbs {
  display: flex;
  padding-top: 10px;
 }
  
 .linking {
  text-decoration: none;
 }
  
 .text {
  color: #4d59fc;
  font-family: Inter;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
 }
 
 .bc:last-child span {
  color: #505a73;
 }
