:root{
    --primary:"#4628ff";
    --warning:"#ffd028";
    --danger:"#eb3f27";
    --success:"#75fa83";
    --white:"#fdfdfd";
    --dark:"#181717";
}

.btn{
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.139028px;
    background-color: var(--primary);

}

/*Button clr and styles */

.btn--primary--solid{
    background-color: var(--primary);
    color: var(--white);
    border: none;
}