.column {
    float: left;
    width: 30%;
    height: auto;
    max-height: 140px;
    margin: 1.5%;
    text-align: center;
    padding: 15px 0px;
    border-radius: 5px;
}

 

.row:after {
  content: "";
  display: table;
  clear: both;
}