.wb_evnt1{
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color:#252A31;
}
.wb_evnt2{
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color:#5F738C;
}

.whitelistbox_ctnt3{
	display: block;
	float: right;
    width: 25%;
    padding-right: 6px;
}

.check_edit_btn,.check_edit_btn:hover,.check_edit_btn:visited{
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: center;
	background-color:#4D59FC;
	border-radius:15px;
	padding:2px 6px;
	color:white !important;
	margin:12px 0px;
	text-decoration:none;
}

.float_r{
	float:right;
}