.wb_evnt1{
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color:#252A31;
}
.wb_evnt2{
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color:#5F738C;
}

.editBtnContainer{
	display: block;
	float: right;
    width: 15%;
    padding-right: 6px;
    height: fit-content;
}

.notes_edit_btn,.notes_edit_btn:hover,.notes_edit_btn:visited{
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: center;
	border-radius:15px;
	padding:2px 6px;
	color:#4D59FC !important;
	margin:5px 0px;
	text-decoration:none;
}

