.nopad_whitebox{
    margin-left: -16px;
    margin-right: -16px;
    padding:16px;
}

.bg_white{
    background-color: white;
}

.column2 {
    width: 100%;
    height: 16%;
    max-height: 140px;
    margin: 0%;
    padding: 15px 0px 15px 0px;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0px 0.5px 4px 0.5px rgba(0, 0, 0, 0.18);
}